<nav class="navbar navbar-expand-lg navbar-nav bg-dark mb-5">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Introvert No More</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="currentuser" class="d-flex gap-3 text-white align-items-center">
      <img id ="img" class="rounded-circle" [src]="currentuser.userImg" title="rounded-cicle"/>
      <h4 class="text-white">{{currentuser.username}}</h4>
      <button class="btn btn-danger" (click)="logOut()">Log out</button>
    </div>

    <div *ngIf="!currentuser" class="d-flex gap-3">
      <button class="btn btn-success" routerLink="login">Login</button>
    </div>
  </div>
</nav>
